body
{
    position: relative;
    padding: 0;
    margin: 0;
    font-family: 'Do Hyeon', sans-serif;
   
}
li
{
    display: inline-block;
}
a
{
   text-decoration: none;
   color: #fdfdfd;
   font-size: 2rem;

}
.navbar
{
    height:auto;
    background-color: rgb(100,100,100,0.6);
    backface-visibility: visible;
    position: sticky;
    top: 0;
    border: 1px;
    z-index: 2;
    
    
   
}

.nav-links
{
    display: inline-block;
  
}
a:hover
{
    color: black;
    font-weight: bolder;
   
}
.home 
{
    height:90%;
    background-color:  rgb(100,100,100,0.6);
    
}
.about
{
    background-color:  rgb(100,100,100,0.6);
}
.img-dp
{
    position: relative;
    margin-left:50%;

    right: 100px;
    border-radius: 100%;
  
    
}
.fltu
{
    height: 10%;
    background-color: rgb(100,100,100,0.6);
   
}
.home-text
{
    margin-top: 20px;
    color:#fdfdfd;
    font-size:3rem;
    text-align: center;
    text-transform: uppercase;
    

}

.progress
{
    padding-bottom: 50px;
}



@media only screen and (max-width:600px)
{

.project-item img{
    width:100%;
}



.bars
{
    position: relative;
    color: #fdfdfd;
    margin-left:80%;
    margin-top: 10px;
  
}

.home-text
{
    font-size: 2rem;
}

}
@media only screen and (min-width:600px)
{
   
 
 .about-skill,.about-skill1,.about-skill2,.about-skill3,.about-skill4
{
    width: 25%;
    font-size: 2rem;
    height: 500px;
}
.bars
{
    display: none;
}
}

.nav-link
{
    margin: 10px 10px;
}
.about
{
    display: flex;
   flex-wrap: wrap;
  

}

.about-skill,.about-skill1,.about-skill2,.about-skill3,.about-skill4
{
  
    color:black;
    text-align: center;
    font-size: 2rem;

}

.fa-2x
{   color: black;
    margin: 20px;
}

.skill-text
{
    line-height: 1.5;
    margin-top: 20px;
}

.home-button
{
    margin-top: 10%;
    text-align: center;
}
.home-button-1
{
    color:white;
    background-color: transparent;
    font-family: 'Do Hyeon', sans-serif;
    border: 3px solid white;
    
    font-size: xx-large;
}


.home-button-1:hover
{
    color: black;
    
    
}
.fa-angle-double-right:hover
{
    transform: rotate(90deg);
}


.progress
{
    background-color: #fdfdfd;
}
.progress-element
{
    font-size: 2rem;
    display: flex;
}

@media screen and (max-width:600px)
{
    .progress-element
    {
        font-size:1.5rem;
    }
}
@media screen and (max-width:330px)
{
    .progress-element
    {
        font-size:1rem;
    }
}
.progress-feature
{
    width: 50%;
    text-align: right;
}
.progress-star
{
    text-align: left;
    width: 50%;
}
.skills-head
{
    text-align: center;
}
.shead
{
    font-size: 2.5rem;
    padding-bottom: 10px;
}

.project-head
{
    text-align: center;
}
.prohead
{
    margin: 0;
    padding:10px;
    font-size: 2.5rem;
    background-color: rgba(150,50,70,0.3);
}
.projects-list
{
    display: flex;
    flex-wrap: wrap;
    
}
.project-item
{
    display: flex;
    flex-wrap: wrap;
    
    width: 50%;
    margin: 0;
    border: 0;
   
   
}
.p01
{
    background-color: rgba(150,50,70,0.3);
    
}
.p02
{
    background-color: rgba(100,50,50,0.5);
    
}
.p03
{
    
    background-color: rgba(100,20,40,0.5);
}
.p04
{
    
    background-color:rgba(20,100,30,0.4);
}
.project-content
{
  
   
    width: 60%;
    font-size: 2rem;
}
@media screen and (max-width:1023px)
{
    .about-skill,.about-skill1,.about-skill2,.about-skill3,.about-skill4
    {
        width: 50%;
        font-size: 1.5rem;
        height: 350px;
    }

    .project-item
    {
        width: 100%;
    }
    
   
}
@media screen and (max-width:600px)
{
   .project-content
   {
      font-size: 1.5rem;
   }
   
}
.contact-head
{
    text-align: center;
    background-color:rgba(20,100,30,0.4)
}
.chead
{
    margin: 0;
    font-size: 3rem;
}
.contact-item
{
    text-align:center;
    font-size: 1.5rem;
    background-color: rgba(100,100,100,0.5);
}
.fab
{
    margin: 10px 10px;
}

@media screen and (max-width: 600px) {
  
.nav-link
{
    display:none;

}
.nav-link-responsive
{
    display: block;
}

  }
